@import url('https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Luckiest Guy', cursive;
}

@layer utilities {
  .animate-fadeIn {
    animation: fadeIn 0.3s ease-in-out;
  }

  @keyframes fadeIn {
    0% {
      opacity: 0;
      transform: translateY(-20px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }
}

/* 自定义动画 */
@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
